    
    <nav class="navbar navbar-expand-lg custom-navbar text-custom shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://career-website.somsom7.repl.co/static/coffee-logo1.png" class="logo" alt="Logo" class="d-inline-block align-top">
      MoonBucks
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-custom" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-custom" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-custom" href="mailto:jiminkumar13@gmail.com?subject=%3CWrite%20your%20query%20here%3E&body=Name%20-%20%3Cgive%20your%20Name%20here%3E%0D%0A%0D%0A%3CWrite%20your%20query%20here%3E">Contact Us</a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light text-custom for-hover" type="submit" style="padding-left: 12px;" ><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</nav>

    <div class="for-height-in-nav"></div>